:root {
  --background-color: #F7F4F2;
  --foreground-color: #333333;
  --acc-color-pale: #ffe2ea;
  --acc-color-light: #ff99b6;
  --acc-color-light-rgb: 255, 153, 182;
  --acc-color-dark: #ff5591;
  --shadow-color-light: #EEEEEE;
  --shadow-color-dark: #CCCCCC;
  --hilight-color: #FAFAFA;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--page-padding-top);
}
@media (max-width: 991px) {
    html {
        scroll-padding-top: var(--page-padding-top-m);
    }
}
body {
  color: var(--foreground-color);
  margin: 0;
  padding: var(--page-padding-top) 0 0 0;
  font-family: sans-serif;
  font-weight: 300;
  font-size: larger;
}
#dollmaker-body {
  display: flex;
  flex-direction: column;
  height: 100vh!important;
}

a {
  background: var(--acc-color-pale);
  color: var(--foreground-color);
  text-decoration: none;
}
a:hover {
  background: none;
  color: var(--acc-color-dark);
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
}
#doll-list h2 {
  color: var(--acc-color-dark);
  border-bottom: 3px solid var(--acc-color-dark);
}
#doll-list h3, #doll-list h4, #doll-list h5, #doll-list h6 {
  background: var(--acc-color-light);
  color: var(--hilight-color);
}
#doll-maker h2 {
  color: var(--acc-color-dark);
  border-bottom: 3px solid var(--acc-color-dark);
  font-size: x-large;
}
header {
  text-align: center;
  padding: 10px auto 0 auto;
  background: var(--acc-color-dark);
  color: var(--hilight-color);
}
footer {
  text-align: center;
  background: var(--acc-color-dark);
  color: var(--hilight-color);
}
#copyright {
  font-weight: 500;
}

#header {
  margin: 0;
  padding: 0;
}
.navbar, .navbar a, footer a {
  background: var(--acc-color-dark);
  color: var(--hilight-color);
  font-weight: 500;
}
.navbar a:hover, footer a:hover {
  color: var(--hilight-color);
  text-decoration: underline dotted;
}
.navbar-brand {
  font-weight: 900!important;
}


main {
  flex: 1;
  display: flex;
}

#build-area {
  flex: 1;
  text-align: center;
}
#dollCanvas{
  background: var(--hilight-color);
  border: 1px solid var(--foreground-color);
}

.controls {
  margin-top: 10px;
}
.controls button {
  display: block;
  width: 200px;
  margin: 5px auto 10px auto;
  padding: 10px 5px;
  text-transform: uppercase;
  cursor: pointer;
}
#saveBtn, #deleteBtn, #clearBtn {
  border-radius: 0;
}
#saveBtn {
  background: var(--acc-color-light);
  border: 1px solid var(--foreground-color);
}
#saveBtn::before {
  content: "\2913";
  margin-right: 6px;
  font-weight: 900;
}
#saveBtn:hover {
  background-color: rgba(var(--acc-color-light-rgb), 0.7);
}

#deleteBtn, #clearBtn {
  background: var(--background-color);
  color: var(--foreground-color);
  border: 1px solid var(--foreground-color);
}
#deleteBtn:hover, #clearBtn:hover {
  background: var(--shadow-color-light);
}

#parts-area {
  overflow-y: auto;
  padding: 10px;
}

.category {
  margin-bottom: 10px;
  width: 100%;
}

.category-toggle,
.category-toggle:hover,
.category-toggle:focus,
.category-toggle:active {
  background: transparent!important;
  color: var(--foreground-color)!important;
  width: 100%;
  text-align: left;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.category-toggle::after {
  content: "";
  display: inline-block;
  margin-left: 6px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid var(--foreground-color);
}

.drawer {
  background: var(--hilight-color);
  max-height: 0vh;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  padding: 5px;
  box-sizing: border-box;
}
.drawer.open {
  max-height: 28vh;
  opacity: 1;
  overflow-y: auto;
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.drawer img {
  margin: 10px;
  cursor: pointer;
}

.drawer::-webkit-scrollbar {
  width: 20px;
}
.drawer::-webkit-scrollbar-track {
  background: var(--shadow-color-light);
}
.drawer::-webkit-scrollbar-thumb {
  background: var(--acc-color-light);
  border-radius: 8px;
}
.drawer::-webkit-scrollbar-thumb:hover {
  background: var(--acc-color-dark);
}


button, button:focus, button:active {
    border: 0!important;
    outline: 0!important;
    -webkit-appearance: none!important;
    box-shadow: none!important;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(230,230,230,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
